
<div class="alinhar-texto-esquerda">
    <h4>Coder e Decoder de Base64 (Codec)</h4>
</div><br />
<div class="div-principal">

    <div class="div-interna-texto-esqueda">

        <mat-form-field appearance="fill">
            <mat-label>TEXTO</mat-label>
            <textarea [(ngModel)]="strTexto" (ngModelChange)="codificaTexto()" matInput style="height: 10em; box-sizing: border-box; resize: none; border: none;"></textarea>
        </mat-form-field>

    </div>
    <div class="div-interna-texto-direita">

        <mat-form-field appearance="fill">
            <mat-label>BASE64</mat-label>
            <textarea [(ngModel)]="strBase64" (ngModelChange)="decodificaTexto()" matInput style="height: 10em; box-sizing: border-box; resize: none; border: none;"></textarea>
        </mat-form-field>

    </div>

</div>
<div class="alinhar-texto-esquerda">
    <h2>Instruções</h2>
    <h4>Codificando um texto em base64:</h4>
    <p>* Para codificar um texto em base64, basta colocar o texto na caixa de texto à esqueda ou acima, dependendo da resolução da sua tela. O fato de alterar o conteúdo da caixa de texto de nome "texto" já executa a função de codificar o conteúdo em base64.</p>
    <h4>Decodificando um conteúdo em base64 para texto:</h4>
    <p>* Para decodificar um conteúdo em base64 para texto, basta colar o conteúdo em base64 na caixa de texto à direita ou abaixo, dependendo da resolução da sua tela. Quando a caixa de texto "base64" tem seu conteúdo alterado, a função de decodificação de base64 já é executada.</p>
</div>