<div class="div-principal">

    <div class="div-coluna-Texto">
        <mat-form-field appearance="fill">
            <mat-label>{{strTipoTexto}}</mat-label>
            <textarea (input)="atualizaQtCaracterePalavra()" [(ngModel)]="strTexto" matInput
                style="height: 30em; box-sizing: border-box; resize: none; border: none; font-family: 'Courier New', monospace;"></textarea>
            <label> Word count: </label> <label class="texto-vermelho"> {{strQtPalavras}}</label> <br />
            <label> Character count: </label> <label class="texto-vermelho"> {{strQtCaractere}}</label>
        </mat-form-field>
    </div>

    <div class="div-coluna-campos">
        <div class="div-botoes">
            <button (click)="carregaTemplate()" mat-raised-button class="botao botao-esqueda" color="primary">Load
                Template
            </button>
            <button (click)="visualizarTemplate()" mat-raised-button class="botao botao-direita"
                color="primary">View Template
            </button>
        </div>
        @for(variavel of variaveisTemplate; track variavel){
        <mat-form-field appearance="outline" class="largura-completa">
            <mat-label>{{variavel.nomeVariavel}}</mat-label>
            <input [(ngModel)]="variavel.conteudoVariavel" (ngModelChange)="gerarTexto()" matInput>
        </mat-form-field>
        }@empty {
        <label>Enter a valid template. A valid template must have at least one variable indicated like this:
            [[nome_da_variavel]]</label>
        }
    </div>

</div>
<div class="instrucoes">
    <h2>Instructions</h2>

    <h4 class="sublinhado">Load Template</h4>
    <p>Paste the text template in the text field. Variables must be indicated as <code>[[variable]]</code>.
        Click this button to identify the variables and generate dedicated input fields for each one. After
        filling in the generated fields, those values are automatically substituted wherever the variables appear
        in the template.</p>

    <h4 class="sublinhado">View Template</h4>
    <p>Shows the original text template pasted into the <code>textarea</code>, without substitutions.
        Useful for reviewing the template before generating the final text.</p>

    <h4 class="sublinhado">Text Field (Textarea)</h4>
    <p>Use this field to paste the text template. Insert variables in the <code>[[variable]]</code> format so they
        can be identified and processed by the tool. This template is used as the base for generating customized
        texts.</p>

    <h4 class="sublinhado">Purpose</h4>
    <p>This tool lets you create standardized texts with customized snippets quickly and safely, automatically
        replacing the variables indicated in the template with the values entered in the generated fields.</p>

</div>
