<div class="div-principal">

    <div class="div-coluna">
        <mat-form-field appearance="fill">
            <mat-label>{{strTipoTexto}}</mat-label>
            <textarea (input)="atualizaQtCaracterePalavra()"  [(ngModel)]="strTexto" matInput
                style="height: 30em; box-sizing: border-box; resize: none; border: none; font-family: 'Courier New', monospace;"></textarea>
            <label> Quantidade de palavras: </label> <label class="texto-vermelho"> {{strQtPalavras}}</label> <br/>
            <label> Quantidade de caracteres: </label> <label class="texto-vermelho"> {{strQtCaractere}}</label>  
        </mat-form-field>
    </div>

    <div class="div-coluna div-campos">
        <button  mat-raised-button class="botao" color="primary">Remover Quebras 
        </button>
        <button  mat-raised-button class="botao" color="primary">Remover Quebras 
        </button>
    </div>

</div>
<div>
    <img class="icon-white" width="65" height="65" src="./assets/texto-icon.svg" />
    <h2>Instruções</h2>

    <h4 class="sublinhado">Remover Quebras</h4>
    <p>Cole o texto e clique neste botão para linearizar todo o texto colado.</p>

    <h4 class="sublinhado">Trim</h4>
    <p>Além de remover as quebras de linha, remove os espaços duplicados e tabulações.</p>

    <h4 class="sublinhado">Quebra por Caractere</h4>
    <p>Quebra linha depois do caractere especificado.</p>

    <h4 class="sublinhado">Quebra por Quantidade</h4>
    <p>Quebra linha por quantidade de caracteres. A cada n caracteres, o algoritmo insere uma quebra de linha.</p>

    <h4 class="sublinhado">Substituir</h4>
    <p>Substitui o texto do primeiro input pelo texto do segundo input.</p>

    <h4 class="sublinhado">Todas Maiúsculas</h4>
    <p>Coloca todas as letras do texto em maiúsculo.</p>

    <h4 class="sublinhado">Todas Minúsculas</h4>
    <p>Coloca todas as letras do texto em minúsculo.</p>

    <h4 class="sublinhado">Primeiras Maiúsculas</h4>
    <p>Coloca apenas as primeiras letras das palavras em maiúsculo.</p>

    <h4 class="sublinhado">Numerar Linhas</h4>
    <p>Coloca números ordenados no início de cada linha</p>

</div>
