.div-principal{
    display: flex;
    flex-direction: column;
}

.div-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-bottom: 1em;
}

.div-caixa-texto{
    display: flex;
    flex-direction: column;
}

.texto-cabecalho{
    margin-left: 0.1em;
    font-size: 2em;
}

.info-canal {
    margin-left: 0.8em;
    font-size: 1em;
    opacity: 0.75;
}

.div-canal {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}