.div-principal {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Organiza os itens filhos em uma coluna */
    justify-content: space-between; /* Espaçamento máximo entre os itens filhos */
    height: 8em; /* Altura da div principal, ajuste conforme necessário */
  }
  
  .div-topo {
    z-index: 2; /* Valor maior que o da div-rodape */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Exemplo de sombra */
  }
  
  .div-rodape {
    background-color: #7b1fa2;
    padding: 0.7em 0.7em 0.6em 1.3em;
    color: white;
    height: 1.5em;
    font-size: 20px; /* Seu tamanho de fonte desejado */
    display: flex; /* Faz a div se comportar como um contêiner flexível */
    flex-direction: column; /* Organiza os itens em uma coluna */
    justify-content: flex-end; /* Alinha o conteúdo ao final (fundo) da div */
    z-index: 1; /* Valor menor que o da div-topo */
  }