<div class="div-principal">
    <div class="div-topo menu-fixo">
        <mat-toolbar color="primary" class="mat-elevation-z4">
            <!-- Menu Tela Grande -->
            <div class="menu-grande">
                <button mat-button (click)="navegaMenu('home')">
                    <mat-icon>home</mat-icon>
                    Início
                </button>

                <button mat-button [matMenuTriggerFor]="menuFerramentas">
                    <mat-icon>build</mat-icon>
                    Ferramentas
                </button>
                <mat-menu #menuFerramentas="matMenu">
                    <button mat-menu-item (click)="navegaMenu('base64')">Base64</button>
                    <button mat-menu-item (click)="navegaMenu('editor-json')">Editor Json</button>
                </mat-menu>
            </div>
            <img src="./assets/logo-corrido.png" class="logo-direita logo-cor-invertida">
            <!-- Menu Tela Pequena -->
            <div class="menu-hamburger">
                <button [matMenuTriggerFor]="menuHamburger" mat-icon-button class="example-icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menuHamburger="matMenu">
                    <button mat-menu-item (click)="navegaMenu('base64')">Base64</button>
                    <button mat-menu-item (click)="navegaMenu('editor-json')">Editor Json</button>
                </mat-menu>
            </div>
            <span class="menu-hamburger">Ferramentas</span>
            <span class="example-spacer menu-hamburger"></span>
            <button mat-icon-button class="example-icon home-icon menu-hamburger"
                aria-label="Example icon-button with heart icon" (click)="navegaMenu('home')">
                <mat-icon>home</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <div class="div-rodape">
        {{ tituloAplicacao }}
    </div>
</div>