<div class="div-principal">
    <div class="div-topo menu-fixo">
        <mat-toolbar color="primary" class="mat-elevation-z4">
            <div class="menu-grande">
                <button mat-button (click)="navegaMenu('home')">
                    <mat-icon>home</mat-icon>
                    Inicio
                </button>
                <button mat-button (click)="navegaMenu('sobre')">
                    <mat-icon>info</mat-icon>
                    Sobre
                </button>
            </div>

            <img src="./assets/logo-corrido.png" class="logo-direita logo-cor-invertida">

            <div class="menu-hamburger">
                <button [matMenuTriggerFor]="menuHamburger" mat-icon-button class="example-icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menuHamburger="matMenu">
                    <button mat-menu-item (click)="navegaMenu('home')">Inicio</button>
                    <button mat-menu-item (click)="navegaMenu('sobre')">Sobre</button>
                </mat-menu>
            </div>
            <span class="menu-hamburger">Ferramentas</span>
            <span class="example-spacer menu-hamburger"></span>
            <button mat-icon-button class="example-icon home-icon menu-hamburger"
                aria-label="Ir para a pagina inicial" (click)="navegaMenu('home')">
                <mat-icon>home</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <div class="div-rodape">
        <span class="titulo-aplicacao">{{ tituloAplicacao$ | async }}</span>
    </div>
</div>
