.parent-div {
    display: flex;
    flex-direction: column;
    /* Isso garante que as divs filhas (top-div e bottom-div) sejam empilhadas verticalmente */
}

.vetical-div {
    display: flex;
    flex-direction: row;
}

.horizontal-div {
    flex: 1;
}

.alinhar-texto-esquerda {
    text-align: left;
}

.alinhar-texto-centro {
    text-align: center;
    /* Centraliza o texto dentro das divs internas */
}

.myTextarea {
    width: 100%;
    /* Faz o textarea preencher a largura da div */
    height: 100%;
    /* Faz o textarea preencher a altura da div */
    box-sizing: border-box;
    /* Garante que padding e bordas estejam incluídos no tamanho total */
}

mat-form-field {
    width: 98%;
    height: 100%;
    /* Faz o mat-form-field preencher a largura da div pai */
}

@media (max-width: 510px) {
    .vetical-div {
        flex-direction: column;
    }
}
