.container-card-principal{
    margin: 20px;
    /*colocar texto em cor branca*/
    color: white;
}

.body-wrapper {
    display: flex; /* Habilita Flexbox */
    flex-direction: column; /* Empilha os filhos verticalmente */
    min-height: 100%; /* Faz este container flex ter pelo menos a altura da tela */
}

.main-content {
    flex: 1; /* Faz o conteúdo principal ocupar todo o espaço disponível */
}

.footer {
    height: 3.5em; /* Define a altura do rodapé */
    background-color: #505050; /* Define a cor de fundo do rodapé para cinza claro */
    color: rgb(255, 255, 255); /* Define a cor do texto do rodapé */
    text-align: center; /* Centraliza o texto horizontalmente */
    line-height: 3.5em; /* Centraliza o texto verticalmente, deve ser igual à altura */
    width: 100%; /* Garante que o rodapé se estenda por toda a largura da página */
    position: relative; /* Pode ser 'absolute' se precisar fixar no fundo, mas 'relative' é o padrão */
    bottom: 0; /* Alinha o rodapé na parte inferior da página, útil se usar position absolute */
}

.icon-white {
    filter: invert(100%);
}
