<br>
<div class="container">
  <div class="card sombra card-escuro">
    <div class="card-header header-escuro">
      Painel de Ferramentas
    </div>
    <div class="card-body body-escuro">
      <div class="d-flex justify-content-begin">
        <button type="button" class="btn btn-azul-escuro me-2"><i class="bi bi-terminal"></i> Leitor de área CWS</button>
        <button type="button" class="btn btn-azul-escuro me-2"><i class="bi bi-wrench"></i> Ferramenta 2</button>
        <button type="button" class="btn btn-azul-escuro me-2"><i class="bi bi-wrench"></i> Ferramenta 3</button>
        <button type="button" class="btn btn-azul-escuro"><i class="bi bi-wrench"></i> Ferramenta 4</button>
      </div>
      <br>
    </div>
  </div>
  <br>
  <p class="text-muted">Desenvolvido por João Dutra</p>
</div>