<div class="largura-completa ">
    <mat-form-field appearance="outline" class="largura-completa ">
        <mat-label>URL</mat-label>
        <input [(ngModel)]="strUrl" matInput placeholder="URL to encode or decode">
        <mat-icon matSuffix>abc</mat-icon>
        <mat-hint>Paste the URL to encode or decode here</mat-hint>
    </mat-form-field>
</div>
<div class="caixa-botoes">
    <button mat-raised-button (click)="codificarUrl()" class="botao" color="primary">Encode</button>
    <button mat-raised-button (click)="decodificarUrl()" class="botao" color="primary">Decode</button>
</div>
<div class="instrucoes">
    <h2>Instructions</h2>
    <h4 class="sublinhado">How to encode and decode a URL</h4>
    <p>Simply paste the encoded or decoded URL in the text box and click the corresponding button to perform the encode
        or decode task.</p>
    <h2>A Bit About the RFC 3986 Specification</h2>
    <p>RFC 3986 is a document that specifies the rules for constructing Uniform Resource Identifiers (URIs), which are
        used to identify and locate resources on the internet. URIs include URLs (Uniform Resource Locators) and URNs
        (Uniform Resource Names).</p>
    <p>RFC 3986, titled "Uniform Resource Identifier (URI): Generic Syntax", describes the generic syntax and rules for
        forming URIs. It defines how the components of a URI (such as scheme, authority, path, query and fragment) are
        structured and how they must be encoded and interpreted.</p>
    <p>In addition, RFC 3986 specifies how special characters must be encoded in a URI to ensure that the URI is
        transmitted correctly and that there is no ambiguity in the interpretation of its components.</p>
    <p>In summary, RFC 3986 is a crucial specification for ensuring interoperability and security in the construction
        and interpretation of URIs on the internet. It provides clear guidelines on how to create valid and robust URIs
        that can be interpreted correctly by computer systems around the world.</p>
</div>
