<div class="div-principal">

    <div class="div-menu-opcoes">
        <button (click)="removeQuebraDeLinhaEmStrTexto()" mat-raised-button class="botao" color="primary">Remove Breaks
        </button>
        <button (click)="executaTrimEmStrTexto()" mat-raised-button class="botao" color="primary">Trim
        </button>
        <button (click)="quebraPorCaractere()" mat-raised-button class="botao" color="primary">Break by Character
            <input (click)="onInputClick($event)" [(ngModel)]="strCaractereQuebra" type="text" matInput
                placeholder="0" value="." class="input-pequeno">
        </button>
        <button (click)="quebraPorQuantidade()" mat-raised-button class="botao" color="primary">Break by Quantity
            <input (click)="onInputClick($event)" [(ngModel)]="numQtQuebra" type="number" min="0" matInput
                placeholder="0" value="0" class="input-pequeno">
        </button>
        <button (click)="substituirTexto()" mat-raised-button class="botao" color="primary">Replace
            <input [(ngModel)]="strSubstituir" (click)="onInputClick($event)" type="text" min="0" matInput
                placeholder="0" value="" class="input-medio">
                With
                <input [(ngModel)]="strSubstituirPor" (click)="onInputClick($event)" type="text" min="0" matInput
                placeholder="0" value="" class="input-medio">
        </button>
        <button (click)="todasMaiusculas()" mat-raised-button class="botao" color="primary">Uppercase
        </button>
        <button (click)="todasMinusculas()" mat-raised-button class="botao" color="primary">Lowercase
        </button>
        <button (click)="primeirasMaiusculas()" mat-raised-button class="botao" color="primary">Title Case
        </button>
        <button (click)="numerarLinhas()" mat-raised-button class="botao" color="primary">Number Lines
        </button>
        <button (click)="tracoInicioLinhas()" mat-raised-button class="botao" color="primary">Dash at Line Start
        </button>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>TEXT</mat-label>
        <textarea (input)="atualizaQtCaracterePalavra()"  [(ngModel)]="strTexto" matInput
            style="height: 30em; box-sizing: border-box; resize: none; border: none; font-family: 'Courier New', monospace;"></textarea>
        
        <label> Word count: </label> <label class="texto-vermelho"> {{strQtPalavras}}</label> <br/>
        <label> Character count: </label> <label class="texto-vermelho"> {{strQtCaractere}}</label>  
    </mat-form-field>

</div>
<div class="instrucoes">
    <h2>Instructions</h2>

    <h4 class="sublinhado">Remove Breaks</h4>
    <p>Paste the text and click this button to turn the pasted content into a single line.</p>

    <h4 class="sublinhado">Trim</h4>
    <p>Removes line breaks, duplicate spaces and tab characters.</p>

    <h4 class="sublinhado">Break by Character</h4>
    <p>Inserts a line break after the specified character.</p>

    <h4 class="sublinhado">Break by Quantity</h4>
    <p>Inserts a line break every n characters.</p>

    <h4 class="sublinhado">Replace</h4>
    <p>Replaces the text from the first input with the text from the second input.</p>

    <h4 class="sublinhado">Uppercase</h4>
    <p>Converts all letters in the text to uppercase.</p>

    <h4 class="sublinhado">Lowercase</h4>
    <p>Converts all letters in the text to lowercase.</p>

    <h4 class="sublinhado">Title Case</h4>
    <p>Capitalizes the first letter of each word.</p>

    <h4 class="sublinhado">Number Lines</h4>
    <p>Adds ordered numbers at the beginning of each line.</p>

</div>
