.fundo-claro {
    background-color: rgb(75, 75, 75);
}

.div-externa {
    display: flex;
    flex-direction: row;
}

.div-interna {
    flex: 1;
}

.icon-white {
    filter: invert(100%);
}

.icon-link-container {
    display: flex;
    align-items: center;
}

.icon-white {
    margin-right: 10px;
}

.linkbranco {
    color: white;
    text-decoration: underline;
}

.centraliza-div-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 510px) {
    .div-externa {
        flex-direction: column;
    }
}