<h3>Apresentação do Projeto:</h3>

<div class="icon-link-container">
    <img class="icon-white" width="25" height="25" src="./assets/github.svg" />
    <a class="linkbranco" href="https://github.com/jrdutra/ferramentas" target="_blank">Github do Projeto</a>
</div>
<br />
<div class="icon-link-container">
    <img class="icon-white" width="25" height="25" src="./assets/linkedin.svg" />
    <a class="linkbranco" href="https://www.linkedin.com/in/joao-ricardo-dutra/" target="_blank">Perfil LinkedIn de João
        Ricardo Dutra</a>
</div>
<br />

<div class="div-externa">
    <div class="div-interna">
        <mat-accordion>
            <mat-expansion-panel class="fundo-claro" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Descrição
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>O projeto consiste no desenvolvimento de uma ferramenta integrada que combina
                    diversas funcionalidades
                    essenciais para programadores, incluindo codificadores de Base64, geradores de CPF (para usuários no
                    Brasil),
                    formatadores de JSON, e stringificadores de JSON, entre outros. O objetivo é oferecer um ambiente
                    único e
                    seguro
                    onde os desenvolvedores possam realizar suas tarefas diárias de forma eficiente e protegida.</p>
            </mat-expansion-panel>
            <mat-expansion-panel class="fundo-claro" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Motivação
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>A inspiração para este projeto surgiu da necessidade pessoal de lidar com
                    múltiplas ferramentas de
                    programação no dia a dia de trabalho, especialmente quando envolviam o manuseio de dados sensíveis.
                    A
                    preocupação
                    com a segurança e a eficiência levou à percepção de que poderia haver uma maneira mais integrada e
                    segura de
                    realizar essas tarefas sem ter que recorrer a várias plataformas distintas, que muitas vezes não
                    oferecem
                    garantias
                    de segurança ou privacidade adequadas.</p>
            </mat-expansion-panel>
            <mat-expansion-panel class="fundo-claro" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Desenvolvimento
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Além de atender a uma necessidade prática, o projeto
                    também serviu como uma
                    oportunidade para aprender e aprimorar habilidades de front-end, especificamente através do uso do
                    framework
                    Angular. Esse aspecto do projeto não só ajudou a criar uma interface mais dinâmica e amigável, mas
                    também
                    permitiu a
                    aquisição de competências valiosas na área de desenvolvimento web.</p>
            </mat-expansion-panel>
            <mat-expansion-panel class="fundo-claro" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Colaboração
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Com o compromisso de melhorar continuamente a
                    ferramenta e
                    ampliar sua funcionalidade, o
                    código foi disponibilizado de forma aberta. Isso convida outros desenvolvedores a contribuir para o
                    projeto,
                    seja
                    adicionando novas funcionalidades, melhorando a interface de usuário ou reforçando as medidas de
                    segurança.
                    A
                    natureza colaborativa do projeto visa não apenas melhorar a ferramenta existente, mas também
                    fomentar uma
                    comunidade
                    de programadores que podem se apoiar mutuamente em desafios comuns.</p>
            </mat-expansion-panel>
            <mat-expansion-panel class="fundo-claro" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Futuro
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>A intenção é continuar a evoluir a ferramenta de acordo com as
                    necessidades dos usuários e as
                    tendências da tecnologia. Feedbacks e contribuições da comunidade de usuários serão essenciais para
                    orientar o
                    desenvolvimento futuro e garantir que a ferramenta permaneça relevante e útil para os programadores.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="div-interna centraliza-div-flex">
        <img class="icon-white" width="200em" height="200em" src="./assets/icon-preto.png" />
    </div>
</div>