.fundo-claro {
    background-color: rgb(75, 75, 75);
}

.div-externa {
    display: flex;
    /* Isso habilita o flexbox para a div externa */
    justify-content: space-around;
    /* Isso define o alinhamento das divs internas (opcional) */
}

.div-interna {
    width: 50%;
    /* Define a largura de cada div interna (opcional, ajuste conforme necessário) */
    /* Adicione qualquer outro estilo que você deseje para as divs internas aqui */
}

.icon-white {
    filter: invert(100%);
}

.icon-link-container {
    display: flex; /* Habilita o Flexbox para o contêiner */
    align-items: center; /* Alinha verticalmente os itens no centro */
}

.icon-white {
    margin-right: 10px; /* Adiciona espaço entre o ícone e o texto */
}

.linkbranco {
    color: white; /* Define a cor do texto para branco (ajuste conforme necessário) */
    text-decoration: underline;
}