mat-form-field{
    margin-right: 0.6em;
}

button{
    margin-bottom: 3em;
}

.container-principal{
    display: flex;
    flex-direction: column;
}

.container-datahora{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-timestamp{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.largura-completa-unix-timestamp{
    width: 100%;
}

.largura-completa{
    width: auto;
}

.icon-white {
    filter: invert(100%);
}

@media (max-width: 720px) {
    .container-principal {
        flex-direction: column;
    }
    .container-datahora{
        flex-direction: column;
    }
    .container-timestamp{
        flex-direction: column;
    }
    .largura-completa{
        width: 100%;
    }
}